.venv
data/
runs/
vid/
prepare_data/download_folder
prepare_data/oidv6-train-annotations-bbox.csv
prepare_data/task_alpaca_detector_annotation_task_001-2023_12_12_07_36_28-yolo 1.1.zip
prepare_data/test-annotations-bbox.csv
prepare_data/validation-annotations-bbox.csv
prepare_data/image_list_file